<div ng-hide="currentState!='WALLETNEW'">
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row">
        <h1>Hold the QR Code Up<br>
        To The Camera<br>
        And Press Scan<br>
        Or Enter Your Address Below<br>
        </h1>
    </div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <ion-list>
                <ion-list-item>
                    <label class="item item-input"><input type="text" placeholder="Bitcoin Address" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"  ng-model="currentUser.Wallet"></label>
                </ion-list-item>
            </ion-list>
        </div>
        <div class="col col-20"></div>
    </div>
    <div class="row"><h2>&nbsp;&nbsp;</h2></div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <ion-list-item>
                <button class="button button-block button-huge button-energized" ng-click="scanQR()">Scan QR</button>
            </ion-list-item>
            <ion-list-item>
                <button class="button button-block button-huge button-energized" ng-click="setState('WALLETVERIFY')">Ready!</button>
            </ion-list-item>
        </div>
        <div class="col col-20"></div>
    </div>

</div>