<div ng-hide="currentState!='ACCOUNT'" >
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row row-center">
        <div class="col col-20"></div>
        <div class="col col-60 col-center">
            <h2>New User?</h2><br>
            <button class="button button-block button-huge button-energized"  ng-click="setState('NEWUSER')">Sign Up</button>
        </div>
        <div class="col col-20"></div>
    </div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row row-bottom">
        <div class="col col-20"></div>
        <div class="col col-60 col-center">
            <h2>Existing User?</h2><br>
            <button class="button button-block button-huge button-energized"  ng-click="setState('LOGIN')">Login</button>
        </div>
        <div class="col col-20"></div>
    </div>
</div>