<div class="list card" ng-show="settings.debugMode">
    <div class="item item-divider">Debug Mode Enabled</div>
    <div class="item item-body">
        <div class="button-bar">
            <button class="button button-small" ng-click="setState('HOME')">HOME</button>
            <button class="button button-small" ng-click="setState('CONFIG')">CONFIG</button>
        </div>
        <div class="button-bar">
            <button class="button button-small" ng-click="setState('ACCOUNT')">ACCOUNT</button>
            <button class="button button-small" ng-click="setState('LOGIN')">LOGIN</button>
            <button class="button button-small" ng-click="setState('NEWUSER')">NEW USER</button>
        </div>
        <div class="button-bar">
            <button class="button button-small" ng-click="setState('CASH')">CASH</button>
            <button class="button button-small" ng-click="setState('THANKS')">THANKS</button>
        </div>
    </div>
</div>