<div ng-hide="currentState!='USERVERIFY'" class="default-style">
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h2>How Much Bitcoin<br>Do You Want To Buy?</h2></div>
    <div class="row">
        <div class="col"><h2>&nbsp;&nbsp;</h2></div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>$20 - $500</h3><br>
                    <button class="button button-block button-large button-energized">Buy</button>
                </div>
                <div class="col">
                    <h3>$501 - $1,000</h3><br>
                    <button class="button button-block button-large button-deenergized">Get Verified</button>
                </div>
            </div>
            <div class="row">
                <div class="col"><h2>&nbsp;&nbsp;</h2></div>
            </div>
            <div class="row">
                <div class="col">
                    <h3>$1,001 - $2,500</h3><br>
                    <button class="button button-block button-large button-deenergized">Get Verified</button>
                </div>
                <div class="col">
                    <h3>$2,501 - $9,000</h3><br>
                    <button class="button button-block button-large button-deenergized">Get Verified</button>
                </div>
            </div>
            <div class="row">
                <div class="col"><h2>&nbsp;&nbsp;</h2></div>
            </div>
            <div class="row">
                <div class="col"><center><b>*the amount you can buy is limited per day</b></center></div>
            </div>
        </div>
        <div class="col col-10"></div>
    </div>
</div>