<div id="homescreen" ng-hide="currentState!='HOME'" >
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row row-center">
        <div class="col col-20"></div>
        <div class="col col-center">
            <button class="button button-block button-huge button-energized" ng-click="setState('ACCOUNT')">Buy Bitcoin</button>
        </div>
        <div class="col col-20"></div>
    </div>
</div>