<div ng-hide="currentState!='ACCOUNT'">
    <ion-list>
        <div ng-hide="currentForm">
            <div class="list card">
                <div class="item item-divider">Login or Register?</div>
                <div class="item item-body">
                    <div class="button-bar">
                        <button class="button button-energized" ng-click="setState('NEWUSER')">New User</button>
                        <button class="button button-energized" ng-click="setState('LOGIN')">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </ion-list>
</div>