<div ng-hide="currentState!='NEWUSER'">
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <ion-list>
                <ion-list-item>
                    <label class="item item-input"><input type="text" placeholder="User Name" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"  ng-model="currentUser.UserName" required></label>
                </ion-list-item>
                <ion-list-item>
                    <label class="item item-input"><input type="email" placeholder="Email" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }"  ng-model="currentUser.Email" required></label>
                </ion-list-item>
                <ion-list-item>
                    <label class="item item-input"><input type="number" placeholder="6 to 10 Digit PIN" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-model="currentUser.Password" required></label>
                </ion-list-item>
                <ion-list-item>
                    <label class="item item-input"><input type="tel" placeholder="Telephone" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500, 'blur': 0 } }" ng-model="currentUser.Phone" required></label>
                </ion-list-item>
            </ion-list>
        </div>
        <div class="col col-20"></div>
    </div>
    <div class="row"><h2>&nbsp;&nbsp;</h2></div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <ion-list-item>
                <button class="button button-block button-huge button-energized" ng-click="register()">Sign Up</button>
            </ion-list-item>
        </div>
        <div class="col col-20"></div>
    </div>
    <div class="row"><h2>&nbsp;&nbsp;</h2></div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col col-center">
        <b>*Be sure to enter an email addres that you have access to.
                <br>This is how we will be sending you your transaction receipts!</b>
        </div>
        <div class="col col-20"></div>
    </div>
</div>
