<div ng-hide="currentState!='VERIFYID'">
    <div class="row"><h1>&nbsp;&nbsp;</h1></div>
    <div class="row">
        <div class="col">
            <h2>Hold Your ID Up to<br>
                The Camera and Scan<br>
                To Purchase Up To<br>
                $2,500 a Day.
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col">
            <h3>Front</h3><br>
            <img ng-src="{{currentUser.FrontsideImage}}">
        </div>
        <div class="col">
            <h3>Back</h3><br>
            <img ng-src="{{currentUser.BacksideImage}}">
        </div>
        <div class="col col-10"></div>
    </div>
    <div class="row">
        <div class="col col-10"></div>
        <div class="col">
            <button class="button button-block button-large button-deenergized" ng-click="scanID('FRONT')">Scan ID Front</button>
        </div>
        <div class="col">
            <button class="button button-block button-large button-deenergized" ng-click="scanID('BACK')">Scan ID Back</button>
        </div>
        <div class="col col-10"></div>
    </div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <button class="button button-block button-large button-energized" ng-click="verifyInfo('ID')">Verify</button>
        </div>
        <div class="col col-20"></div>
    </div>
</div>
